html,
body,
#root,
#app-container,
#app-body {
    height: 100% !important;
}

a:hover {
  text-decoration: none !important;
}

p {
  line-height: 1.8;
}

#app-body {
  padding-top: 140px;
}

#app-container {
  margin-bottom: 192px;
  z-index: 2;
  overflow: visible;
  position: relative;
  background-color: #FFF;
}

.footer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: url(/images/sketch-header.png) repeat center bottom;
  background-size: auto 100%;
  height: 40px;
  margin-bottom: -40px;
}

/* Display loading spinner */
.loader-container {
  height: 100%;
  width: 100%;
  display: relative;
}

.loader-spinner {
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  height: 200px;
  width: 300px;
  margin-top: -100px;
  margin-left: -150px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.price {
    color: #FF6600;
}

.inline {
    display: inline-block !important;
}

ul.tags {
    list-style-type: none;
    margin: 0;
}

ul.tags li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 10pt;
    margin-right: 5px;
}

ul.gray li {
    border: 1px solid #f1f0f0;
    color: gray;
}

ul.no-style {
    list-style-type: none;
}

ul.no-margin {
    margin: 0;
}

.image-selector a {
    height: 57px;
    width: 57px;
    border: 1px solid #eee;
    display: block;
    margin-bottom: 20px;
}

.image-selector .active {
    border-bottom: 3px solid #43A357;
}

.image-selector img {
    width: 50px;
    height: 50px;
}

.image-small {
  width: 50px;
  height: 50px;
}

.image-big {
    width: 433px;
    height: 433px;
}

.small-padding-top {
    padding-top: 5px;
}

.medium-padding-top {
    padding-top: 20px;
}

h5.title {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    padding-top: 10px;
}

.large-padding-top {
    padding-top: 40px;
}

.no-padding {
    padding: 0 !important;
}

.header1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.checkbox-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.checkbox {
    position: absolute;
    top: 0px;
    right: 10px;
}
