.close-comment {
    position: absolute;
    right: 30px;
    top: 5px;
    cursor: pointer;
}

.comment {
  margin-top: 5px;
}

.comment .content {
  border: 1px solid #ddd;
  border-radius: 2px;
}

.comment .header,
.comment .message {
  padding: 5px 5px 0px 5px;
}

.comment .message p {
  word-wrap: break-word;
}
