/* Authentication spinner style */
.authenticate-spinner .fa-spinner {
  font-size: 24px;
  width: 24px;
  height: 24px;
}

/* Navigation style */
.navigation .nav-link {
  text-transform: uppercase;
}

/* Secondarly menu style */
.secondary-menu {
  position: fixed;
  width: 100%;
  top: 100px;
  z-index: 1030;
}
