body {
    margin: 0;
    padding: 0;
}

h2 {
  font-size: 52px !important;
}

h3 {
  font-size: 22px !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.center {
  text-align: center;
}

.i-large {
  font-size: 56px !important;
}
