body {
  color: #555 !important;
}

/* Red theme */
.red-theme .nav-link {
  color: #444;
}

.red-theme .active-nav-link,
.red-theme .nav-link:hover,
.red-theme .redColor,
.red-theme a.red:hover,
h2,
.header2 {
  color: #e7272d !important;
}

.red-theme .navbar-default .brand a {
  color: black;
}

@media (max-width: 1200px) {
  .red-theme .navbar-default {
    background-color: white;
  }
}

.red-theme .progressbar .counter-rounded,
.red-theme .card-header,
.red-theme .vertical-menu .menu-item.hoverable a:hover,
.red-theme .vertical-menu .menu-item.active {
  background-color: rgba(231, 39, 45, 0.22);
}

.red-theme .progressbar-with-counter li.active .counter-rounded {
  background-color: rgba(231, 39, 45, 0.87);
}

.red-theme .progressbar-with-counter li.active:before,
.red-theme .progressbar-with-counter li.active:after {
  background-color: rgba(231, 39, 45, 0.87) !important;
}

.red-theme .progressbar .counter-rounded {
  color: white;
}

.red-theme .card {
  border: 1px solid #e0e0e0;
}

.red-theme .btn-icon,
.red-theme .btn-icon:active {
  color: white;
  border: none !important;
  cursor: pointer;
  padding: 5px;
}

.red-theme .btn-icon.with-border,
.red-theme .badge-default {
  background-color: #f7b2b5 !important;
}

.red-theme .badge-default {
  color: #55555c !important;
}

.red-theme .btn-icon:hover {
  color: #ee676b;
  background-color: transparent;
}

.red-theme .float-btns a {
  background-color: rgba(231, 39, 45, 0.74);
}

.progressbar li:before,
.progressbar li:after,
.progressbar-red-theme li:before,
.progressbar-red-theme li:after,
.progressbar-red-theme .counter-rounded,
.red-theme .pagination .page-link:hover,
.red-theme .react-tagsinput-tag,
.red-theme .breadcrumb,
.red-theme .table-striped tbody tr:nth-of-type(odd),
.red-theme .react-datepicker__header {
  background-color: rgba(231, 39, 45, 0.22) !important;
}

.red-theme .pagination .page-link.active {
  color: white;
}

.red-theme .vertical-tabs-menu .list-group a.active:after {
  border-left: 10px solid #f0767a;
}

.red-theme .vertical-tabs-menu .list-group a.active {
  background-color: #f0767a;
  border-color: #f0767a;
  color: white;
}

.red-theme .card .expander {
  background-color: #ee676b;
}

.red-theme .react-tagsinput--focused,
.red-theme .form-control:focus,
.react-tagsinput-popup {
  border: 1px solid #facfd1 !important;
}

.react-tagsinput-popup li:hover {
  background-color: rgba(250, 207, 209, 0.34);
}

.red-theme .react-tagsinput-tag {
  border: 1px solid rgba(234, 66, 72, 0.38) !important;
  color: white !important;
}

.red-theme .list-group-default.clickable .list-group-item:hover,
.red-theme .list-group-item.active,
.red-theme .pagination .page-link.active {
  background-color: #f0767a !important;
}

.red-theme .list-group-default.clickable .list-group-item:hover,
.red-theme .list-group-default.clickable .list-group-item:hover p,
.red-theme .list-group-default.clickable .list-group-item:hover i,
.red-theme .list-group-item.active,
.red-theme .list-group-item.active p,
.red-theme .list-group-item.active i {
  color: white !important;
}

.red-theme .dropdown-menu .dropdown-header,
.red-theme .dropdown-item:active {
  background-color: #facfd1 !important;
  color: white !important;
}

.red-theme .dropdown-item:active p {
  color: white !important;
}

.red-theme .dropdown-menu {
  border: 1px solid rgba(231, 39, 45, 0.22);
}

.red-theme .dropdown-menu:before {
  border-bottom: 7px solid rgba(231, 39, 45, 0.22);
}

.red-theme .active-nav-link {
  background-color: transparent !important;
}

.progress-bar,
.red-theme .react-datepicker__day--selected {
  background-color: #e7272d !important;
}

.red-theme .rc-slider-handle {
  border: 2px solid rgb(231, 39, 45) !important;
}

.red-theme .rc-slider-track,
.red-theme .rbc-event {
  background-color: #ee676b  !important;
}

.red-theme .rbc-today {
  background-color: rgba(247, 178, 181, 0.53) !important;
}

.red-theme .shop-products-menu .nav-link.active,
.red-theme .red .nav-link.active,
.red-theme .message.sent {
  background-color: rgba(231, 39, 45, 0.7) !important;
}

.red-theme .message.sent {
  color: white;
}

.red-theme .image-selector .active {
    border-bottom: 3px solid #ee676b;
}

/* Global theme */
.footer #copyrights a {
  color: rgba(255,255,255,.25);
}

.footer #copyrights a:hover {
  color: #555;
}

.loader-spinner {
  border: 1px solid #e0e0e0;
}

.separator {
  color: gray;
}

.white {
  color: white !important;
}

.secondary-menu {
  background-color: white;
}

h3 {
  color: #333 !important;
}

p {
  color: #999;
}

.float-btns a,
.float-btns a:hover {
  color: white !important;
}

.vertical-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.vertical-menu .sub-menu-item {
  border-left: 2px solid #ee676b;
}
