body {
  color: #555 !important;
}

/* Navigation */
.nav-link {
  color: #444;
}

.active-nav-link,
.nav-link:hover,
.redColor {
  color: #e7272d !important;
}

.navbar-default .brand a {
  color: black;
}

@media (max-width: 1200px) {
  .navbar-default {
    background-color: white;
  }
}

/* Progress bar*/
.progressbar-red-theme li:before,
.progressbar-red-theme li:after,
.progressbar-red-theme .counter-rounded {
  background-color: rgba(231, 39, 45, 0.44) !important;
}


.progressbar li.active:before,
.progressbar li.active:after {
  background: #129cc5;
}

.vertical-tabs-menu .list-group a.active:after {
  border-left: 10px solid #f0767a;
}

.vertical-tabs-menu .list-group a.active {
  background-color: #f0767a;
  border-color: #f0767a;
  color: white;
}
