body {
  color: #555 !important;
}

/* Red theme */
.red-theme .nav-link {
  color: #444;
}

.red-theme .active-nav-link,
.red-theme .nav-link:hover,
.red-theme .redColor,
h2 {
  color: #e7272d !important;
}

.red-theme .navbar-default .brand a {
  color: black;
}

@media (max-width: 1200px) {
  .red-theme .navbar-default {
    background-color: white;
  }
}

.red-theme .progressbar li:before,
.red-theme .progressbar li:after,
.red-theme .progressbar .counter-rounded,
.red-theme .progressbar li.active:before,
.red-theme .progressbar li.active:after,
.red-theme .card-header {
  background-color: rgba(231, 39, 45, 0.22);
}

.red-theme .card {
  border: 1px solid #e0e0e0;
}

.red-theme .card-header .btn,
.red-theme .card-header .btn:active {
  color: white;
  border: none !important;
}
.red-theme .card-header .btn:hover {
  color: #ee676b;
  background-color: transparent;
}

.red-theme .float-btns a {
  background-color: rgba(231, 39, 45, 0.74);
}

.progressbar-red-theme li:before,
.progressbar-red-theme li:after,
.progressbar-red-theme .counter-rounded,
.red-theme .progressbar li.active:before,
.red-theme .progressbar li.active:after {
  background-color: rgba(231, 39, 45, 0.22) !important;
}

.red-theme .vertical-tabs-menu .list-group a.active:after {
  border-left: 10px solid #f0767a;
}

.red-theme .vertical-tabs-menu .list-group a.active {
  background-color: #f0767a;
  border-color: #f0767a;
  color: white;
}

.red-theme .card .expander {
  background-color: #ee676b;
}

/* Global theme */
.footer #copyrights a {
  color: rgba(255,255,255,.25);
}

.footer #copyrights a:hover {
  color: #555;
}

.loader-spinner {
  border: 1px solid #e0e0e0;
}

.separator {
  color: gray;
}

.white {
  color: white !important;
}

.secondary-menu {
  background-color: white;
}

h3 {
  color: #333 !important;
}

p {
  color: #999;
}

.float-btns a,
.float-btns a:hover {
  color: white !important;
}

.vertical-menu {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.vertical-menu .sub-menu-item {
  border-left: 2px solid #ee676b;
}
