/* Global */
.progressbar {
  min-height: 50px;
}

.progressbar li {
  text-align: center;
  list-style-type: none;
  float: left;
  position: relative;
}

.progressbar .counter-rounded {
  border-radius: 50%;
  margin: 0 auto;
  font-weight: bold;
}

.progressbar li:before,
.progressbar li:after {
  content: '';
  height: 2px;
  background: rgb(216, 216, 216);
  display: block;
  position: absolute;
}

.progressbar li:after {
  left: 50%;
  right: 0px;
}

.progressbar li:before {
  left: 0px;
  right: 50%;
}

.progressbar li:last-child:after {
  content: none;
}

.progressbar li:first-child:before {
  content: none;
}

/* With counter */
.progressbar-with-counter .counter-rounded {
  width: 40px;
  height: 40px;
  padding-top: 7px;
}

.progressbar-with-counter li:before,
.progressbar-with-counter li:after {
  top: 20px;
}

.progressbar-with-counter li:after {
  margin-left: 30px;
}

.progressbar-with-counter li::before {
  margin-right: 30px;
}

/* Image */
.progressbar-withimage-counter .counter-rounded-img {
  width: 80px;
  height: 80px;
  padding-top: 12px;
}

.progressbar-withimage-counter li:after {
  margin-left: 50px;
}

.progressbar-withimage-counter li::before {
  margin-right: 50px;
}

.progressbar-withimage-counter li:before,
.progressbar-withimage-counter li:after {
  top: 40px;
}
