/* Shop cover */
.cover {
    position: relative;
    height: 220px;
}

.cover .cover-banner {
    overflow: hidden;
}

.cover .cover-banner img {
  width: 1140px;
  height: 220px;
}

.cover .profile-img {
    position: absolute;
    bottom: -10px;
    left: 10px;
}

.cover .profile-img img {
  width: 150px;
  height: 150px;
}

.cover .profile-img .edit-profile-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.cover .profile-information {
    position: absolute;
    left: 170px;
    top: 75px;
    right: 10px;
    color: white;
    height: 145px;
    overflow: hidden;
}

.cover .upload-image {
    display: none;
}

.cover .menu,
.cover .menu-shop-options {
    position: absolute;
    top: 10px;
}

.cover .menu li a {
  color: white;
}

.cover .menu {
    left: 10px;
}

.cover .menu-shop-options {
    right: 10px;
}

/* Rating popup */
.rating-popup {
    padding: 5px !important;
    width: 300px !important;
    max-width: 300px !important;
    text-align: inherit !important;
}

.rating-popup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.shop-section-padding {
    padding: 20px;
}

#rating .react-rater a {
    font-size: 21pt;
}

.react-rater a {
    color: #ccc !important;
}

.react-rater a.will-be-active {
    color: #ffdd99 !important;
}

.react-rater a.is-active {
    color: #fc6 !important;
}

.react-rater a.is-active-half:before {
    color: #fc6 !important;
}

.contact {
    text-align: center;
}

.contact .fa {
    font-size: 40pt;
}

.product {
    height: 10rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
    overflow: hidden;
}

.product img {
    margin: auto;
    width: 100px;
}

.products .product {
    margin-right: 10px;
    margin-bottom: 10px;
}
