/* Define CSS style of TAGS element */
.react-tagsinput {
  border: 1px solid #d9d9d9 !important;
  border-radius: 5px;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.react-tagsinput-popup {
  position: absolute;
  z-index: 3000;
  border-radius: 5px;
  background-color: white;
}

.react-tagsinput-popup li {
  padding: 10px;
}

.react-tagsinput-popup ul {
  list-style-type: none;
}

/* List of tags */
ul.tags {
    list-style-type: none;
    margin: 0;
}

ul.tags li {
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 10pt;
    margin-right: 5px;
}

ul.gray li {
    border: 1px solid #f1f0f0;
    color: gray;
}

ul.no-style {
    list-style-type: none;
}

ul.no-margin {
    margin: 0;
}
