/* INVENTORY BOX */
.inventory-box {
	width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
	z-index: 11;
}

.inventory-box .top
{
    background: url('../img/window/inventory/i_top.png') no-repeat;
    width: 490px;
    height: 19px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.inventory-box .body
{
    background: url('../img/window/inventory/i_body.png') repeat-y;
    min-height: 250px;
    width: 490px;
    height: auto;
    padding: 5px 8px;
}

.inventory-box .bottom
{
    background: url('../img/window/inventory/i_bottom.png') no-repeat;
    width: 490px;
    height: 9px;
}

.inventory-box ul.tabs
{
    border-bottom: solid 1px #000;
    height: 32px;
    width: calc(100% - 24px);
    padding-left: 10px;
    margin-bottom: 5px;
}

.inventory-box ul.tabs li
{
    display: inline-block;
    border-top: solid 1px #4D4C49;
    border-left: solid 1px #4D4C49;
    border-right: solid 1px #4D4C49;
    border-bottom: solid 1px #4D4C49;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #C3C2B8;
    padding: 6px 10px;
    margin-right: -3px;
}

.inventory-box ul.tabs li:hover
{
    background: #f6f5f0;
    border-bottom: solid 1px #f6f5f0;
    cursor: pointer;
    box-shadow: inset 2px 2px 1px #fff;
}

.inventory-box ul.tabs li.active
{
    background: #ECEAE0;
    border-top: solid 2px #000;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 1px #ECEAE0;
    box-shadow: inset 2px 2px 1px #fff;
}

.inventory-box ul.items
{
    width: 280px;
    float: left;
}

.inventory-box ul.items li
{
    display: inline-block;
    margin: 0 2px 2px 0;
    background: url('../img/icons/item_box.png') no-repeat;
    width: 42px;
    height: 42px;
    vertical-align: top;
    cursor: pointer;
}

.inventory-box ul.items li img {
	width: 35px;
	height: 28px;
	padding: 8px 0px 0px 2px;
}

.inventory-box ul.items li.active
{
    background: url('../img/icons/item_box_hover.png');
    height: 42px;
    width: 42px;
}

/* FURNITURE BOX */
.furniture-box {
	width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.furniture-box .top
{
    background: url('../img/window/inventory/i_top.png') no-repeat;
    width: 490px;
    height: 19px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.furniture-box .body
{
    background: url('../img/window/inventory/i_body.png') repeat-y;
    min-height: 250px;
    width: 490px;
    height: auto;
    padding: 5px 8px;
}

.furniture-box .bottom
{
    background: url('../img/window/inventory/i_bottom.png') no-repeat;
    width: 490px;
    height: 9px;
}

/* INFORMATION BOX */
.information-box-container {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.information-box {
  background-color: rgb(61,61,61);
  border-radius: 10px;
  min-width: 200px;
  padding: 10px;
}

.information-box .top {
  border-bottom: 1px solid rgb(51, 51, 51);
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
	height: 30px;
}

.information-box .body {
  border-bottom: 1px solid rgb(51, 51, 51);
  min-height: 100px;
  padding-bottom: 5px;
	padding-top: 5px;
}

.information-box .body img {
	padding: 20px;
	background-color: rgb(101, 101, 101);
	border: 1px solid rgb(24, 24, 24);
	border-radius: 5px;
}

.information-box .bottom {

}

/* PLAYER INFORMATION */
.player-information-box-container {
  position: fixed;
	top: 10;
	left: 10;
}

.player-information-box {
  background-color: rgb(44, 43, 42);
  border-radius: 5px;
  min-width: 100px;
  padding: 10px;
	color: white;
}

.player-information-box:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgb(44, 43, 42) transparent;
  display: block;
  width: 0;
}
