/* TABULATIONS */
ul.tabs.gray li
{
  border-top: solid 1px rgb(39, 46, 49);
  border-left: solid 1px rgb(39, 46, 49);
  border-right: solid 1px rgb(39, 46, 49);
  border-bottom: solid 1px rgb(39, 46, 49);
  background-color: rgb(126, 140, 138);
}

ul.tabs.gray li.active,
ul.tabs.gray li:hover
{
  border-top: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  background-color: rgb(236, 234, 234);
}

ul.tabs
{
    border-bottom: solid 1px #000;
    height: 32px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
}

ul.tabs li
{
    display: inline-block;
    border-top: solid 1px #4D4C49;
    border-left: solid 1px #4D4C49;
    border-right: solid 1px #4D4C49;
    border-bottom: solid 1px #4D4C49;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #C3C2B8;
    padding: 6px 10px;
    margin-right: -3px;
}

ul.tabs li:hover
{
    background: #f6f5f0;
    border-bottom: solid 1px #f6f5f0;
    cursor: pointer;
    box-shadow: inset 2px 2px 1px #fff;
}

ul.tabs li.active
{
    background: #ECEAE0;
    border-top: solid 2px #000;
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 1px #ECEAE0;
    box-shadow: inset 2px 2px 1px #fff;
}

/* BLUE BOX */
.blue-modal {
  position: absolute;
  left: 50%;
  top: 50%;
}

.blue-modal > .top,
.blue-modal > .top:before
{
  height: 33px;
}

.blue-modal > .top {
  position: relative;
  background: url('../img/window/blue_modal/topLeftCorner.png') left top no-repeat,
    url('../img/window/blue_modal/topRightCorner.png') right top no-repeat;
  text-align: center;
  line-height: 30px;
  color: white;
}

.blue-modal > .top:before {
  content: '';
  position: absolute;
  left: 9px;
  right: 9px;
  top: 0px;
  background: url('../img/window/blue_modal/topContent.png') center top repeat-x;
  z-index: -1;
}

.blue-modal > .body {
  position: relative;
  background: url('../img/window/blue_modal/bodyStart.png') top left repeat-y,
    url('../img/window/blue_modal/bodyEnd.png') top right repeat-y;
  min-height: 100px;
  background-color: rgb(236,234,234);
}

.blue-modal > .bottom,
.blue-modal > .bottom:before {
  height: 9px;
}

.blue-modal > .bottom {
  position: relative;
  background: url('../img/window/blue_modal/bottomLeftCorner.png') left bottom no-repeat,
    url('../img/window/blue_modal/bottomRightCorner.png') right bottom no-repeat;
}

.blue-modal > .bottom:before {
  content: '';
  position: absolute;
  left: 9px;
  right: 9px;
  bottom: 0px;
  background: url('../img/window/blue_modal/bottomContent.png') center bottom repeat-x;
}

.blue-modal .content {
  padding: 5px;
}

/* GRAY PANEL */
.gray-panel > .top,
.gray-panel > .top:before
{
  height: 6px;
}

.gray-panel > .top {
  position: relative;
  background: url('../img/panel/gray_panel/topLeftCorner.png') left top no-repeat,
    url('../img/panel/gray_panel/topRightCorner.png') right top no-repeat;
}

.gray-panel > .top:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  top: 0px;
  background: url('../img/panel/gray_panel/topContent.png') center top repeat-x;
  z-index: 1;
}

.gray-panel > .body {
  position: relative;
  background: url('../img/panel/gray_panel/bodyStart.png') top left repeat-y,
    url('../img/panel/gray_panel/bodyEnd.png') top right repeat-y;
  padding: 5px;
  background-color: rgb(210,209,203);
}

.gray-panel > .bottom,
.gray-panel > .bottom:before {
  height: 8px;
}

.gray-panel > .bottom {
  position: relative;
  background: url('../img/panel/gray_panel/bottomLeftCorner.png') left bottom no-repeat,
    url('../img/panel/gray_panel/bottomRightCorner.png') right bottom no-repeat;
}

.gray-panel > .bottom:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 0px;
  background: url('../img/panel/gray_panel/bottomContent.png') center bottom repeat-x;
}

/* HEAVY GRAY PANEL */
.heavygray-panel > .top,
.heavygray-panel > .top:before
{
  height: 6px;
}

.heavygray-panel > .top {
  position: relative;
  background: url('../img/panel/heavy_gray_panel/topLeftCorner.png') left top no-repeat,
    url('../img/panel/heavy_gray_panel/topRightCorner.png') right top no-repeat;
}

.heavygray-panel > .top:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  top: 0px;
  background: url('../img/panel/heavy_gray_panel/topContent.png') center top repeat-x;
  z-index: 1;
}

.heavygray-panel > .body {
  position: relative;
  background: url('../img/panel/heavy_gray_panel/bodyStart.png') top left repeat-y,
    url('../img/panel/heavy_gray_panel/bodyEnd.png') top right repeat-y;
  padding: 5px;
  background-color: rgb(36,35,30);
  color: white;
}

.heavygray-panel > .bottom,
.heavygray-panel > .bottom:before {
  height: 8px;
}

.heavygray-panel > .bottom {
  position: relative;
  background: url('../img/panel/heavy_gray_panel/bottomLeftCorner.png') left bottom no-repeat,
    url('../img/panel/heavy_gray_panel/bottomRightCorner.png') right bottom no-repeat;
}

.heavygray-panel > .bottom:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 0px;
  background: url('../img/panel/heavy_gray_panel/bottomContent.png') center bottom repeat-x;
}

/* INVENTORY BOX */
.inventory-box {
	z-index: 11;
}

.inventory-box .body .content {
  min-height: 300px;
}

.inventory-box .body .content .filter {
	background-color: rgb(201,201,201);
	border-radius: 5px;
	padding: 5px;
}

.inventory-box .body .content .entities {
	padding-top: 5px;
}

.inventory-box ul.items
{
    width: 250px;
		display: inline-block;
		vertical-align: top;
}

.inventory-box .entity-information
{
	display: inline-block;
	width: 214px;
}

.inventory-box .entity-information .picture {
	background: url("../img/bgs/entity_bg.png") no-repeat;
	width: 169px;
	height: 113px;
	text-align: center;
}

.inventory-box .entity-information .picture img {
	max-width: 150px;
	padding-top: 20px;
}

.inventory-box .entity-information .action {
  padding-top: 30px;
}

.inventory-box ul.items li
{
    display: inline-block;
    margin: 0 2px 2px 0;
    background: url('../img/icons/item_box.png') no-repeat;
    width: 42px;
    height: 42px;
    vertical-align: top;
    cursor: pointer;
}

.inventory-box ul.items li img {
	padding: 5px 0px 0px 2px;
}

.inventory-box ul.items li.active
{
    background: url('../img/icons/item_box_hover.png');
    height: 42px;
    width: 42px;
}

/* SHELF BOX */
.shelf-box {
  z-index: 12;
}

.shelf-box .body .content {
  min-height: 500px;
  min-width: 500px;
}

/* CHANGE LOOK BOX */
.changelook-box {
  z-index: 13;
}

.changelook-box .body .content {
  min-width: 500px;
}

/* ACTIONS BOX */
.actions-box {
  padding-top: 10px;
}

/* FURNITURE BOX */
.furniture-box {
	width: 490px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.furniture-box .top
{
    background: url('../img/window/inventory/i_top.png') no-repeat;
    width: 490px;
    height: 19px;
    color: #fff;
    font-weight: bold;
    padding: 7px;
    text-align: center;
}

.furniture-box .body
{
    background: url('../img/window/inventory/i_body.png') repeat-y;
    min-height: 250px;
    width: 490px;
    height: auto;
    padding: 5px 8px;
}

.furniture-box .bottom
{
    background: url('../img/window/inventory/i_bottom.png') no-repeat;
    width: 490px;
    height: 9px;
}

/* INFORMATION BOX */
.information-box-container {
  position: fixed;
  bottom: 70px;
  right: 10px;
}

.information-box {
  background-color: rgb(61,61,61);
  border-radius: 10px;
  min-width: 200px;
  padding: 10px;
}

.information-box .top {
  border-bottom: 1px solid rgb(51, 51, 51);
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-bottom: 5px;
	height: 30px;
}

.information-box .body {
  border-bottom: 1px solid rgb(51, 51, 51);
  min-height: 100px;
  padding-bottom: 5px;
	padding-top: 5px;
}

.information-box .body img {
	padding: 20px;
	background-color: rgb(101, 101, 101);
	border: 1px solid rgb(24, 24, 24);
	border-radius: 5px;
}

.information-box .bottom {

}

/* PLAYER INFORMATION */
.player-information-box-container {
  position: fixed;
	top: 10;
	left: 10;
}

.player-information-box {
  background-color: rgb(44, 43, 42);
  border-radius: 5px;
  min-width: 100px;
  padding: 10px;
	color: white;
}

.player-information-box:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgb(44, 43, 42) transparent;
  display: block;
  width: 0;
}

/* UP RIGHT INFORMATION*/
.up_right {
  right: 3px;
  z-index: 1003;
  position: fixed;
  top: 0;
}

.up_right .options
{
    background: url('../img/icons/up_right_bg.png');
    color: #fff;
    height: 71px;
    width: 192px;
}
.up_right .options  > .quit,
.up_right .options > .settings,
.up_right .options > .help
{
    width: 61px;
    height: 19px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    position: fixed;
}

.up_right .options > .quit
{
    right: 11px;
    top: 24px;
}

.up_right .options > .help
{
    right: 11px;
    top: 3px;
}

.up_right .options > .settings
{
    right: 11px;
    top: 45px;
}

/* Gray modal window */
.gray-modal {
  color: #fff;
  min-width: 200px;
}

.gray-modal .header,
.gray-modal .header:before
{
  height: 6px;
}

.gray-modal .header {
  position: relative;
  background: url('../img/window/gray_modal/topLeftCorner.png') left top no-repeat,
    url('../img/window/gray_modal/topRightCorner.png') right top no-repeat;
}

.gray-modal .header:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  top: 0px;
  background: url('../img/window/gray_modal/topContent.png') center top repeat-x;
}

.gray-modal .body {
  position: relative;
  background: url('../img/window/gray_modal/bodyStart.png') top left repeat-y,
    url('../img/window/gray_modal/bodyEnd.png') top right repeat-y;
  min-height: 100px;
  background-color: rgb(87,84,77);
}

.gray-modal .footer,
.gray-modal .footer:before {
  height: 8px;
}

.gray-modal .footer {
  position: relative;
  background: url('../img/window/gray_modal/bottomLeftCorner.png') left bottom no-repeat,
    url('../img/window/gray_modal/bottomRightCorner.png') right bottom no-repeat;
}

.gray-modal .footer:before {
  content: '';
  position: absolute;
  left: 6px;
  right: 6px;
  bottom: 0px;
  background: url('../img/window/gray_modal/bottomContent.png') center bottom repeat-x;
}

.gray-modal .body {
  padding: 5px;
}

.gray-modal .body .title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(47,47,47);
}

.gray-modal .body .content {
  padding-top: 5px;
}

/* Parameters modal */
.parameters-modal {
  right: 200px;
  z-index: 1003;
  position: fixed;
  top: 0;
}

.parameters-modal .content img {
  width: 40px;
}

.parameters-modal .actions {
  padding-top: 5px;
}
