/* Grid system */
.col-3 {
  width: 25% !important;
  vertical-align: top;
  display: inline-block;
}

.col-4 {
  width: 33% !important;
  vertical-align: top;
  display: inline-block;
}

.col-6 {
  width: 45%;
  vertical-align: top;
  display: inline-block;
}

.col-8 {
  width: 67% !important;
  vertical-align: top;
  display: inline-block;
}

.col-9 {
  width: 75% !important;
  vertical-align: top;
  display: inline-block;
}

.offset-2 {
  margin-left: 16.66666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33%;
}

.offset-6 {
  margin-left: 45%;
}

.offset-8 {
  margin-left: 67%;
}

.offset-9 {
  margin-left: 75%;
}
