/* ICONS */
.inventory
{
    height: 41px;
    width: 44px;
    display: inline-block;
    cursor: pointer;
    margin-top: 6px;
    margin-right: 10px;
}

.sex-mal
{
  background: url('../img/icons/male.png') 0 -21px no-repeat;
  width: 21px;
  height: 21px;
}

li:hover .sex-mal,
li.active .sex-mal
{
  background: url('../img/icons/male.png') 0 0 no-repeat;
  width: 21px;
  height: 21px;
}

.sex-femal
{
  background: url('../img/icons/female.png') 0 -27px no-repeat;
  width: 18px;
  height: 27px;
}

li:hover .sex-femal,
li.active .sex-femal
{
  background: url('../img/icons/female.png') 0 0 no-repeat;
  width: 18px;
  height: 27px;
}

.player-body {
  background: url('../img/icons/body.png') 0 0 no-repeat;
  width: 21px;
  height: 22px;
}

.player-head {
  background: url('../img/icons/hat.png') 0 0 no-repeat;
  width: 32px;
  height: 22px;
}

.player-shirt {
  background: url('../img/icons/shirt.png') 0 0 no-repeat;
  width: 30px;
  height: 22px;
}

.player-jean {
  background: url('../img/icons/jean.png') 0 0 no-repeat;
  width: 19px;
  height: 22px;
}

.user {
  height: 41px;
  width: 44px;
  display: inline-block;
  cursor: pointer;
}

.look {
  background: url('../img/icons/look.png') 0 0 no-repeat;
  width: 27px;
  height: 28px;
  cursor: pointer;
  display: block;
}

.look:hover {
  background: url('../img/icons/look.png') 0 -28px no-repeat;
}

.profile {
  background: url('../img/icons/profile.png') 0 0 no-repeat;
  width: 32px;
  height: 30px;
  cursor: pointer;
  display: block;
}

.profile:hover {
  background: url('../img/icons/profile.png') 0 -30px no-repeat;
}

.inventory {
	 background: url('../img/icons/inventory.png') 0 0 no-repeat;
}

.inventory:hover {
  background: url('../img/icons/inventory.png') 0 -41px no-repeat;
}

.inventory:active {
  background: url('../img/icons/inventory.png') 0 -84px no-repeat;
}

.quit {
  background: url('../img/icons/quit.png');
}

.quit:hover {
  background: url('../img/icons/quit.png') 0 -19px;
}

.quit:active {
  background: url('../img/icons/quit.png') 0 -38px;
}

.settings {
  background: url('../img/icons/settings.png');
}

.settings:hover {
  background: url('../img/icons/settings.png') 0 -19px;
}

.settings:active {
  background: url('../img/icons/settings.png') 0 -38px;
}

.help {
  background: url('../img/icons/help.png');
}

.help:hover {
  background: url('../img/icons/help.png') 0 -19px;
}

.help:active {
  background: url('../img/icons/help.png') 0 -38px;
}

.chatbubbles {
	background: url('../img/chatInput/chatbubbles.png');
	width: 17px;
	height: 19px;
	display: inline-block;
}

.close
{
    background: url("../img/icons/close.png");
    width: 19px;
    height: 20px;
    display: inline-block;
    float: right;
    position: absolute;
    right: 30px;
    top: 7px;
    cursor: pointer;
}

.black-close {
  background: url('../img/icons/black-close.png');
  width: 13px;
  height: 13px;
  float: right;
  cursor: pointer;
}

.close:hover
{
    background: url("../img/icons/close.png") 0 -20px;
}

.close:active
{
    background: url("../img/icons/close.png") 0 -40px;
    height: 19px;
}
