/* TREE VIEW */
.treeview li {
  padding-left: 10px;
  position: relative;
  cursor: pointer;
}

.treeview ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.treeview li > ul {
  display: none;
}

.treeview li.active > ul {
  display: block;
}

.treeview .filter.active {
  font-weight: bold;
}

.treeview .node-toggle:before {
  position: absolute;
  content: '';
  right: 0px;
  top: 0px;
  width: 5px;
  height: 10px;
  background: url('../img/icons/arrowRight.png') right center no-repeat;
}

.treeview li.active .node-toggle:before {
  width: 10px;
  height: 5px;
  background: url('../img/icons/arrowDown.png') right center no-repeat;
}

ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LIST OF ITEMS */
ul.list > li {
  background-color: rgb(222,222,222);
  border: 1px solid rgb(149,149,149);
  border-radius: 2px;
  padding: 5px;
}

ul.list > li .information {
  border-radius: 2px;
  background-color: rgb(149,149,149);
  color: white;
  padding: 5px;
}

/* LIST OF TAGS*/
ul.tags,
ul.navigations,
ul.filters,
ul.place-selector,
ul.product-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tags li,
ul.filters li,
ul.navigations li,
ul.place-selector li,
ul.product-categories li {
  display: inline-block;
  margin-right: 5px;
}

ul.product-categories li {
  border-radius: 5px;
  background-color: #d2d1cb;
  border: 1px solid rgb(117, 117, 113);
  padding: 3px;
}

ul.product-categories li.active {
  background-color: white;
}

ul.tags li,
ul.filters li {
  border: 1px solid rgb(173, 170, 170);
  font-style: oblique;
  padding: 5px;
  color: #615d5d;
}

ul.navigations li {
  border: 1px solid #757571;
  padding: 5px;
  border-radius: 5px;
  background-color: #d2d1cb;
  cursor: pointer;
}

ul.navigations li.active {
  background-color: white !important;
}

ul.place-selector {
  background-color: white;
  padding: 10px;
}

ul.place-selector li {
  cursor: pointer;
  background-color: rgb(234,232,222);
  padding: 7px;
  border-radius: 5px;
}
