.comment {
  border: 1px solid #e8ebe9;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 20px;
}

.comment .header {
  font-size: 11pt;
}

.close-comment {
  position: absolute;
  right: 30px;
  top: 5px;
  cursor: pointer;
}

.comment .content {
  overflow-wrap: break-word;
}
