.menu-service {
  height: 50px;
}

.menu-service .options {
  position: absolute;
  right: 10px;
}

.menu-service .options i {
  cursor: pointer;
  margin-right: 10px;
  padding: 3px;
}

.menu-service .options i.active {
  cursor: auto !important;
  border-radius: 5px;
  background-color: #f1f0f0;
  border: 1px solid #d8cccc;
}
