@font-face {
  font-family: 'QuicksandLight';
  src: url('fonts/Quicksand-Light.otf') format('opentype'),
    url('fonts/Quicksand-Light.ttf') format('truetype'),
    url('fonts/Quicksand-Light.woff') format('woff');
}

@font-face {
  font-family: 'QuicksandLight';
  font-weight: bold;
  src: url('fonts/Quicksand-Bold.otf') format('opentype'),
    url('fonts/Quicksand-Bold.ttf') format('truetype'),
    url('fonts/Quicksand-Bold.woff') format('woff');
}

body {
  font-family: 'QuicksandLight', sans-serif;
}

/* Game */
#game-container {
  width:980px;
  margin: 0 auto;
}

#game, .game-tchat {
  max-width: 980px;
}

#game {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 600px;
  min-height: 600px;
}

/* Errors */
#errors li{
  list-style-type: none;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 300px;
}

#errors {
  position: absolute;
  top: 10px;
  right: 20px;
}

#errors .success {
  background-color: green !important;
  color: white !important;
}

#errors .error {
  background-color: red !important;
  color: white !important;
}

/* Login state */
.login {
  position: absolute;
  top: 20;
  right: 20;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.tab .content{
  border-bottom: 1px solid #f1f0f0;
  padding-bottom: 10px;
  min-height: 440px;
}

.tab .navigation {
  padding-top: 10px;
}

/* Progress bar */
.progressbar {
  counter-reset: step;
}

.progressbar li {
  text-align: center;
  list-style-type: none;
  text-transform: uppercase;
  float: left;
  width: 16.5%;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  color: white;
  background: rgba(148, 135, 135, 0.9);
  border-radius: 50%;
  margin: 0 auto 5px auto;
  z-index: 1;
}

.progressbar li:after {
  content: '';
  height: 2px;
  right: 50%;
  background: rgba(148, 135, 135, 0.9);
  display: block;
  position: relative;
  top: -45px;
  width: 100%;
  z-index: 0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before,
.progressbar li.active:after {
  background: #27AE60;
}

/* Display game menu + tchat */
.game-menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

ul.menu-options, .game-tchat .body ul, .modal-window .content ul.list  {
  list-style-type: none;
}

.menu-options .menu-option {
  border-radius: 50%;
  font-size: 16pt;
  color: white;
  width: 60px;
  height: 60px;
  border: solid 1px #7c9c60;
  text-align: center;
  line-height: 60px;
  box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  cursor: pointer;
  margin-top: 10px;
}

.menu-options div.menu-option {
  padding-top: 17px;
}

.menu-options .menu-option:hover {
  border-color: gray;
}

.menu-options .green {
  background-color: #12c512;
}

.menu-options .default {
  background-color: #ffbc00;
}

.menu-options .light-blue {
  background-color: #00b8ff;
}

.menu-options .blue {
  background-color: #129cc5;
}

.game-tchat {
  top: 330px;
  left: 10px;
  position: absolute !important;
  min-height: 250px;
  height: 250px;
  min-width: 300px;
  width: 300px;
}

.game-tchat .content {
  background-color: rgba(128, 128, 128, 0.45);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px #7c9c60;
  border-right: solid 1px #7c9c60;
  border-bottom: solid 1px #7c9c60;
}

.game-tchat .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(232, 228, 228);
  cursor: move;
  height: 27px;
}

.game-tchat .header h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.game-tchat .header .title,
.modal-window .header .title {
  text-transform: uppercase;
  font-weight: bold;
}

.game-tchat .header .options {
  position: absolute;
  right: 0;
  top: 0;
}

.game-tchat .header .options .option,
.modal-window .header .options .option {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0;
  opacity: 0.5;
  cursor: pointer;
}

.game-tchat .header .options .option {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12pt;
}

.game-tchat .header .options .option:hover,
.modal-window .header .options .option:hover {
  opacity: 1;
}

.game-tchat .body {
  padding: 5px;
  overflow-y: auto;
  height: 75%;
}

.game-tchat ul {
  padding: 0;
}

.game-tchat .body .external-message {
  color: #ffbc00;
}

.game-tchat .body .my-message {
  color: #12c512;
}

/* Action button */

.lg-action-btn {
  width: 200px;
}

.action-btn, .input {
  padding: 8px;
  border-radius: 5px;
}

.action-btn {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #129cc5;
  border: 1px solid #167794;
  box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
}

/* Selector style */
.selector {
  display: block;
  min-width: 150px;
  border-radius: 5px;
}

/* Modal window */

.modal {
  background-color: rgba(14, 14, 14, 0.33);
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-content {
  display: table-cell;
  vertical-align: middle;;
}

.modal-window-circle {
  border-radius: 50%;
  height: 350px;
}

.modal-window {
  width: 350px;
  background-color: white;
  margin: 0 auto;
  box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
}

.modal-lg .modal-window {
  width: 650px;
}

.modal-window-circle .header {
  border-bottom: none !important;
  box-shadow: none  !important;
  padding-top: 40px;
  text-align: center;
}

.modal-window .header {
  padding: 5px;
  position: relative;
  border-bottom: 1px solid gray;
  box-shadow: 0px 3px 5px rgba(101, 101, 101, 0.57);
  -moz-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
  -webkit-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
  -o-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
}

.modal-window .header .title {
  font-size: 15pt;
}

.modal-window .header .options {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-window .header .options .option {
  height: 30px;
  width: 30px;
  font-size: 15pt;
}

.modal-window .content {
  padding: 5px;
}

.modal-window .content ul.list  {
  padding: 0;
}

.modal-window .content ul.list li {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.modal-window .content ul.no-border li {
  border: none;
}

.modal-window .content ul.center-text li {
  text-align: center;
}

.modal-window .footer {
  border-top: 1px solid gray;
  padding: 5px;
}

#map-modal .container {
  text-align: center;
}

#map-modal img {
  max-width: 500px;
}

/* Pause modal window */

#pause-modal .menu-options {
  text-align: center;
}

#pause-modal .menu-options li {
  display: inline-block;
  margin-right: 5px;
}

#pause-modal .menu-options li i {
  padding-top: 17px;
}

/* Warper modal */
.warper-modal .search-category-form,
.warper-modal .map-selector {
  display: inline-block;
  vertical-align: top;
}

.warper-modal .search-category-form {
  padding-right: 10px;
}

.warper-modal .map-selector {
  border-left: 1px solid rgb(222, 214, 214);
  padding-left: 10px;
  min-height: 160px;
}

/* Bubble tchat */
.tchat-bubble {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 2px;
  min-width: 60px;
  max-width: 400px;
  word-wrap: break-word;
}

.tchat-bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.87) transparent;
  display: block;
  width: 0;
}

/* Loading spinner */
.sk-cube-grid {
  width: 30px;
  height: 30px;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #258ad2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
