@font-face {
  font-family: 'QuicksandLight';
  src: url('fonts/Quicksand-Light.otf') format('opentype'),
    url('fonts/Quicksand-Light.ttf') format('truetype'),
    url('fonts/Quicksand-Light.woff') format('woff');
}

@font-face {
  font-family: 'QuicksandLight';
  font-weight: bold;
  src: url('fonts/Quicksand-Bold.otf') format('opentype'),
    url('fonts/Quicksand-Bold.ttf') format('truetype'),
    url('fonts/Quicksand-Bold.woff') format('woff');
}

body {
  font-family: 'QuicksandLight', sans-serif;
}

ul.no-style {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Game */
#game-container {
  width:980px;
  margin: 0 auto;
}

#game, .game-tchat {
  max-width: 980px;
}

#game {
  position: relative;
  overflow: hidden;
  width: 980px;
  height: 600px;
  min-height: 600px;
}

/* Errors */
#errors li{
  list-style-type: none;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 300px;
}

#errors {
  position: absolute;
  top: 10px;
  right: 20px;
}

#errors .success {
  background-color: green !important;
  color: white !important;
}

#errors .error {
  background-color: red !important;
  color: white !important;
}

.alert-error {
  display: none;
  border: 1px solid #ebccd1;
  background-color: #f2dede;
  border-radius: 5px;
  padding: 10px;
}

.alert-error .close {
  float: right;
  cursor: pointer;
}

.error-message { /* Message displayed in the form */
  padding-left: 5px;
  color: red;
  font-style: italic;
}

/* Login state */
.login {
  position: absolute;
  top: 20;
  right: 20;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.tab .content{
  border-bottom: 1px solid #f1f0f0;
  padding-bottom: 10px;
  min-height: 440px;
}

.tab .navigation {
  padding-top: 10px;
}

/* Progress bar */
.progressbar {
  counter-reset: step;
  min-height: 50px;
}

.progressbar li {
  text-align: center;
  list-style-type: none;
  float: left;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  line-height: 30px;
  display: block;
  color: white;
  background: rgb(216, 216, 216);
  border-radius: 50%;
  margin: 0 auto 5px auto;
  z-index: 1;
}

.progressbar li:after {
  content: '';
  height: 2px;
  right: 50%;
  background: rgb(216, 216, 216);
  display: block;
  position: relative;
  top: -40px;
  margin-right: 15px;
  margin-left: 15px;
  z-index: 0;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active:before,
.progressbar li.active:after {
  background: #129cc5;
}

/* Display game menu + tchat */

ul.floating-options,
.game-tchat .body ul,
.modal-window .content ul.list,
ul.list-selector,
ul.list-group,
ul.tab,
ul.tooltip-actions  {
  list-style-type: none;
}

ul.floating-options {
  margin: 0;
  padding: 0;
}

.floating-options-top-left {
  position: absolute;
  top: 5px;
  left: 5px;
}

.floating-options-bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.floating-options-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.floating-options .floating-option {
  border-radius: 50%;
  font-size: 16pt;
  color: white;
  width: 60px;
  height: 60px;
  border: solid 1px #7c9c60;
  text-align: center;
  line-height: 60px;
  box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  margin-top: 10px;
}

.floating-options .floating-option:hover {
  cursor: pointer;
}

.floating-options div.floating-option {
  padding-top: 17px;
}

.floating-options .floating-option:hover {
  border-color: gray;
}

.floating-options .green {
  background-color: #12c512;
}

.floating-options .default {
  background-color: #ffbc00;
}

.floating-options .light-blue {
  background-color: #00b8ff;
}

.floating-options .dark-blue {
  background-color: #0066ff;
}

.floating-options .blue {
  background-color: #129cc5;
}

.floating-options .orange {
  background-color: #ffb100;
}

#account-floating, #back-floating {
  z-index: 2000;
}

.game-tchat {
  top: 330px;
  left: 10px;
  position: absolute !important;
  min-height: 250px;
  height: 250px;
  min-width: 300px;
  width: 300px;
}

.game-tchat .content {
  background-color: rgba(128, 128, 128, 0.45);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: solid 1px #7c9c60;
  border-right: solid 1px #7c9c60;
  border-bottom: solid 1px #7c9c60;
}

.game-tchat .header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(232, 228, 228);
  cursor: move;
  height: 27px;
}

.game-tchat .header h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.game-tchat .header .title,
.modal-window .header .title {
  text-transform: uppercase;
  font-weight: bold;
}

.game-tchat .header .options {
  position: absolute;
  right: 0;
  top: 0;
}

.game-tchat .header .options .option,
.modal-window .header .options .option {
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 0;
  opacity: 0.5;
  cursor: pointer;
}

.game-tchat .header .options .option {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12pt;
}

.game-tchat .header .options .option:hover,
.modal-window .header .options .option:hover {
  opacity: 1;
}

.game-tchat .body {
  padding: 5px;
  overflow-y: auto;
  height: 75%;
}

.game-tchat ul {
  padding: 0;
}

.game-tchat .body .external-message {
  color: #ffbc00;
}

.game-tchat .body .my-message {
  color: #12c512;
}

/* Action button */
.lg-action-btn {
  width: 200px;
}

.md-action-btn {
  width: 120px;
}

.action-btn, .input {
  padding: 8px;
  border-radius: 5px;
}

.action-btn {
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #129cc5;
  border: 1px solid #167794;
  box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
}

.green-action-btn {
  border: 1px solid #30a027 !important;
  background-color: #35bd2a !important;
}

.action-btn:disabled,
.action-btn[readonly],
.input-control[readonly] {
  opacity: 0.3;
}

/* Input style */
.input-control {
  display: block;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  width: 100%;
  max-width: 100%;
}

.selector option, .input-control {
  font-family: 'QuicksandLight', sans-serif;
}

/* Selector style */
.selector {
  display: block;
  min-width: 150px;
  border-radius: 5px;
}

.selector option:checked {
  background: linear-gradient(#129cc5, #129cc5) !important;
}

.selector option:hover {
  background: linear-gradient(#e6edef, #e6edef);
}

.selector-md {
  min-width: 300px !important;
}

.selector-lg {
  min-width: 350px !important;
}

.list-selector {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

.list-selector li.selected {
  background-color: #129cc5 !important;
  color: white;
}

.list-selector li:hover {
  background-color: #e6edef;
}

.map-selector {
  max-height: 210px;
  overflow-y: auto;
}

.map-selector li {
  display: table;
  cursor: pointer;
  width: 100%;
}

.map-selector img, .map-selector span {
  display: table-cell;
  vertical-align: top;
}

.map-selector img {
  max-width: 200px;
  float : right;
}

/* Modal window */
.modal {
  background-color: rgba(14, 14, 14, 0.33);
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: table;
}

.modal-transparent {
  background-color: transparent !important;
}

.modal-content {
  display: table-cell;
  vertical-align: middle;
}

.modal-window-circle {
  border-radius: 50%;
  height: 350px;
}

.modal-window {
  width: 350px;
  background-color: white;
  margin: 0 auto;
  box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 3px 3px 5px rgba(136, 136, 136, 0.82);
}

.modal-lg .modal-window {
  width: 650px;
}

.modal-window-circle .header {
  border-bottom: none !important;
  box-shadow: none  !important;
  padding-top: 40px;
  text-align: center;
}

.modal-window .header {
  padding: 5px;
  position: relative;
  border-bottom: 1px solid gray;
  box-shadow: 0px 3px 5px rgba(101, 101, 101, 0.57);
  -moz-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
  -webkit-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
  -o-box-shadow : 0px 3px 5px rgba(101, 101, 101, 0.57);
}

.modal-window .header .title {
  font-size: 15pt;
}

.modal-window .header .options {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-window .header .options .option {
  height: 30px;
  width: 30px;
  font-size: 15pt;
}

.modal-window .content {
  padding: 5px;
}

.modal-window .content ul.list  {
  padding: 0;
}

.modal-window .content ul.list li {
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}

.modal-window .content ul.no-border li {
  border: none;
}

.modal-window .content ul.center-text li {
  text-align: center;
}

.modal-window .footer {
  border-top: 1px solid gray;
  padding: 5px;
}

#map-modal .container {
  text-align: center;
}

#map-modal img {
  max-width: 500px;
}

/* Pause modal window */
#pause-modal .floating-options {
  text-align: center;
}

#pause-modal .floating-options li {
  display: inline-block;
  margin-right: 5px;
}

#pause-modal .floating-options li i {
  padding-top: 17px;
}

/* Free place modal window */
#free-place-modal .container {
  padding: 10px;
}

#free-place-modal .images img {
  width: 50px;
}

.adr-search .google-map {
  width: 300px;
  height: 200px;
}

.adr-search .google-map-searchbox {
  top: 7px !important;
  width: 150px;
}

/* Emoticons selector modal */
#emoticons-selector-modal .emoticon {
  text-align: center;
}

#emoticons-selector-modal .emoticon img {
  border: 1px solid rgb(195, 195, 195);
}

/* My shops selector modal style */

#my-shops-selector-modal .slider-container {
  padding: 40px;
}

#my-shops-selector-modal .shop-cell-container {
  padding: 10px;
  text-align: center;
}

#my-shops-selector-modal .shop-cell {
  border: 2px solid #dfdee3;
  border-radius: 3px;
  min-height: 200px;
}

#my-shops-selector-modal .shop-cell-active {
  border: 2px solid #129cc5;
}

#my-shops-selector-modal .go-to-the-shop {
  float: right;
}

/* Login modal */
#login-modal .local-login {
  padding: 15px;
}

#login-modal .local-login-btn {
  float: right;
}

/* Shop chooser modal */
#shop-chooser-modal .map-overview {
  margin: 0 auto;
  position: relative;
}

#shop-chooser-modal .map-overview,
#shop-chooser-modal .map-overview img {
  width: 500px;
}

#shop-chooser-modal .take-the-place {
  float: right;
}

/* Edit profile modal style */
#edit-profile-modal {

}

.map-overview .place {
  border: 2px solid gray;
  position: absolute;
  cursor: pointer;
}

.map-overview .free-place {
  border: 2px solid green !important;
}

.map-overview .selected-place {
  border: 2px solid red !important;
}

/* Warper modal */
.warper-modal .first-column,
.warper-modal .second-column {
  display: inline-block;
  vertical-align: top;
}

.warper-modal .first-column {
  padding-right: 10px;
}

.warper-modal .second-column {
  border-left: 1px solid rgb(222, 214, 214);
  padding-left: 10px;
  padding-bottom: 5px;
  min-height: 160px;
}

.warper-modal .map-row {
  border-top: 1px solid rgb(222, 214, 214);
  padding-top: 5px;
}

/* Display tooltip */
.tooltip {
  position: relative;
}

.tooltip .tooltip-content {
  box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -moz-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -webkit-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  -o-box-shadow : 2px 2px 5px rgba(136, 136, 136, 0.82);
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 5px;
  padding: 10px;
}

.tooltip-top {
  padding-top: 10px;
}

.tooltip-top:before {
  content: "";
  position: absolute;
  top: 0;
  left: 12%;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.87) transparent;
  display: block;
  width: 0;
}

/* Bubble tchat */
.tchat-bubble {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.87);
  border-radius: 2px;
  min-width: 60px;
  max-width: 400px;
  word-wrap: break-word;
}

.tchat-bubble:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.87) transparent;
  display: block;
  width: 0;
}

/* Loading spinner */
.sk-cube-grid {
  width: 30px;
  height: 30px;
  margin: auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #258ad2;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/* Grid system */
.col-6 {
  width: 45%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
}

.col-4 {
  width: 33% !important;
  vertical-align: top;
  display: inline-block;
}

.col-3 {
  width: 25% !important;
  vertical-align: top;
  display: inline-block;
}

.col-9 {
  width: 75% !important;
  vertical-align: top;
  display: inline-block;
}

/* List group */
.list-group {
  padding: 0;
}

.list-group .checkbox-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.list-group .checkbox-container .checkbox {
  position: absolute;
  top: 0px;
  right: 0px;
}

.list-group-item-active .checkbox-container {
  display: block !important;
}

.list-group-item:first-child {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
  padding: 0.75rem 1.25rem;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

ul.payments li {
  cursor: pointer;
}

/* Tabulation */
.tab {
  padding: 0;
}

.tab li {
  display: inline-block;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
}

.tab li.active {
  background-color: #129cc5 !important;
  border: 1px solid #167794 !important;
  color: white;
  font-weight: bold;
}

.tab-item {
  cursor: pointer;
}
