.validation-error {
    color: red;
}

.image-container {
    border: 1px solid #e8e8e8;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 120px;
    height: 120px;
}

.progressbar-content section {
    padding: 30px;
}

.sub-section .previous {
    margin-right: 10px;
}
