.hidden {
  display: none !important;
}

.invalid {
  border: 1px solid red !important;
}

.sub-section {
	border-top: 1px solid #f1f0f0;
}

.white-section {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.13);
  background-color: white;
}

.price {
  color: #FF6600;
}

.inline {
  display: inline-block !important;
}

ul.tags {
	list-style-type: none;
	margin: 0;
}

ul.tags li {
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	font-style: italic;
	font-size: 10pt;
	margin-right: 5px;
}

ul.gray li {
  border: 1px solid #f1f0f0;
  color: gray;
}

ul.no-style {
  list-style-type: none;
}

ul.no-margin {
  margin: 0;
}

.image-selector a {
  height: 57px;
  width: 57px;
  border: 1px solid #eee;
  display: block;
  margin-bottom: 20px;
}

.image-selector .active {
  border-bottom: 3px solid #43A357;
}

.image-selector img {
  width: 50px;
  height: 50px;
}

.image-big {
  width: 433px;
  height: 433px;
}

.small-padding-top {
  padding-top: 5px;
}

.medium-padding-top {
  padding-top: 20px;
}

h5.title {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 5px;
  padding-top: 10px;
}

.large-padding-top {
  padding-top: 40px;
}

.no-padding {
  padding: 0 !important;
}
