.categories-selector .selector ul {
  list-style: none;
}

.categories-selector .selector ul li {
  padding-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.categories-selector .buttons {
  text-align: center;
}

.categories-selector .selector ul li.active {
  border: 1px solid red;
}

.categories-selector .selector ul li:hover {
  background-color: #eceeef;
}

.categories-selector .selector {
  border: 1px solid #eceeef;
  border-radius: 5px;
}
