#manage-profile {
  height: 100%;
}

.main-sidebar {
    position: fixed !important;
    top: 56px !important;
    left: 0 !important;
    z-index: 1000 !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    border-right: 1px solid #d2d6de;
    background-color: #f9fafc;
    min-height: 100% !important;

}

.manage-container {
  background-color: white;
  padding: 10px;
}
